<html>

     <head>
      <title> Mashable : <%= @mashset.capitalize %> </title>

     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
     <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
     <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
     <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

     <style>
          body {
               margin-top: 2em;
          }
          .top-buffer { 
            margin-top: 1em; 
          }
          .bottom-buffer {
            margin-bottom:1em;
          }
          .mashfilter {
            font-size: 0.75em;

          }

     </style>

     </head>

     <body>

          <%= yield %>


     <script>


     </script>
     </body>
</html>