<html>

     <head>

     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
     <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
     <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
     <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

     <style>
          body {
               margin-top: 2em;
          }
          pre {
            overflow: auto;
            word-wrap: normal;
            white-space: pre;
          }
          strong {
               color: red;
          }
          .top-buffer { 
            margin-top: 1em; 
          }

     </style>

     </head>

     <body>

          <%= yield %>


     <script>


     </script>
     </body>
</html>